.header {
  display: flex;
  align-items: center;
  background-color: #0c2340;
  color: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.logo {
  height: 50px;
  margin-right: 1rem;
}
